p-style {
    text-align: center;
    color: black;
    font-family: arial;
}
.border-style{
    border:1px solid red;
    width:400px;
    height:200px;
}
.tlms-border{
    border:1px solid red;
}


.publishshow-margin{
    margin-left:5px;
    margin-right:5px;
}
.publishshow-padding{
    padding:0px 5px 0px 5px;
}
.publishshow-border{
    border:1px solid red;
}

.publishshow-bg{
    background-color:#ffffff;
}

.publishshow_footer{
    height: 50px;
    width: 100%;
    background-color:#FF8C07;
    position: fixed;
    bottom: 0;
}

.publishshow-hidden{
    position:absolute;left:-100000px
}


