<div ng-controller = 'WebsocketController'>
    websocket测试
    <div>
        消息接收
        <textarea name="callCenterStatus" style="height: 150px;width: 100%" value="" readonly = "true">{{rcvServerMsg}}</textarea>
    </div>
    <div>
        <input type="text" ng-model="sendMsg.userId"/>
        <input type="button" value="连接" ng-click="wsConnect()"/>
        <input type="button" value="客户端断开连接" ng-click="wsClose()"/>
        <input type="button" value="服务端断开连接" ng-click="serverClose()"/>
    </div>
    <div>
        <input type="button" value="用户签入" ng-click="doSend()"/>
    </div>
    <div>
        <input type="button" value="推送" ng-click="doPush()"/>
    </div>

</div>