<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <script src="../../../bower_components/angular/angular.js"></script>
    <!--
    通过如下方式，可以在js中动态改变模板文件的内容
    -->
   <!-- <script type="text/ng-template" id="transclude.tpl.html">
        <div>
            <h3>{{title}}</h3>
            <div ng-transclude>tttt</div>
        </div>
    </script>-->
    <script src="../../js/transclude/transclude.min.js"></script>
    <script src="../../js/transclude/OneTranscludeController.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/tlms.min.css"/>
    <title>指令transclude属性测试</title>
</head>


    <input ng-mode="title"/>
    <br/>
    <textarea cols="30" rows="4" ng-model="text"></textarea>
    <div cd-text>{{text}}</div>

    <hr/>
    <one-transclude>
        <div>指令[one-transclude]元素内部的内容1</div>
        <div>指令[one-transclude]元素内部的内容2</div>
        <div>指令[one-transclude]元素内部的内容3</div>
        <div>指令[one-transclude]元素内部的内容4</div>
    </one-transclude>

    <hr/>
    <div one-transclude>
        <div ng-click="onTranscludeClick()">点击</div>
        <div>指令[one-transclude]元素内部的内容5</div>
    </div>

    <hr/>
    <multi-transclude>
        <multi-transclude-title>我是指令元素内部的title</multi-transclude-title>
        <multi-transclude-body>我是指令元素内部的body</multi-transclude-body>
        <multi-transclude-footer>我是指令元素内部的footer</multi-transclude-footer>
    </multi-transclude>
<!--
   <hr/>
  <div multi-transclude>
       <multi-transclude-title>我是指令元素内部的title</multi-transclude-title>
       <multi-transclude-body>我是指令元素内部的body</multi-transclude-body>
       <multi-transclude-footer>我是指令元素内部的footer</multi-transclude-footer>
   </div>-->
    <!--transclude 用在：创建可以服用的组件，典型例子：模态框和导航栏-->
    <div sidebox="Links" tang-div-title="标题栏">
        <ul>
            <li>First Link</li>
            <li>Second Link</li>
        </ul>
    </div>
    <div sidebox="Links" tang-div-title="弹窗">
        <div>弹窗内容</div>
    </div>
    <div sidebox="Links" tang-div-title="链接">
        <div ng-click="onTranscludeClick()">点击</div>
        <div class="tagcloud">
            <a href="">Graphics</a>
            <a href="">AngularJS</a>
            <a href="">D3</a>
            <a href="">Front-end</a>
            <a href="">Startup</a>
        </div>
    </div>
</body>
</html>