<div ng-init="initPublishEdit()">
    <div class="panel_main">
        <div class="data-table-container" >
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <span class="fs-title"><i class="fa fa-globe mr"></i>编辑发布({{publish.id}})</span>
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-sm btn-default" type="button" ng-click="preViewPublish(publish.id)"><i class="fa fa-book m-r-sm"></i>预览</button>
                    <button class="btn btn-sm btn-default" type="button" ng-click="back()"><i class="fa fa-arrow-left m-r-sm"></i>返回</button>
                </div>
            </header>
        </div>

        <div class="form-horizontal" cg-busy="{promise:loading,message:'正在查询，请稍后...'}">
            <div>&nbsp;</div>
            <ng-form  name="form">

                <!--景区图片资源-->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        图片资源 <a href="javascript:0" ng-click="uploadResource('01')">(<i class="fa fa-arrow-up m-r-sm" ></i>点击上传图片)</a>
                    </legend>
                    <!--缩略图-->
                    <div class="row" style="border:0px solid red">
                        <input  id="currItem" type="text" class="form-control publishshow-hidden"  ng-model="currItem.url"/>
                        <div class="col-sm-3 col-md-3" style="border:0px solid red; " ng-repeat="item in publishResourceList" align="center">
                            <a href="javascript:0" class="thumbnail" style="border:1px solid #AFADAD;margin-top:5px;margin-bottom:5px">
                                <img style="height:160px" src="{{item.url}}"
                                     alt="景区资源文件">
                            </a>
                            <button style="border:0px solid green;margin-top:0px;margin-bottom:10px" data-clipboard-target="#currItem" class="btn btn-xs btn-default" type="button" ng-click="getItemUrl(item.url)">点击获取图片地址</button>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">基础信息</legend>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">标题：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="publish.title" placeholder="" required >
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">开始日期：</label>
                        <div class="col-sm-2">
                            <p class="input-group">
                                <input type="text" ng-model="publish.timeBegin" placeholder="请选择活动起始日期" class="form-control" uib-datepicker-popup="yyyy-MM-dd"  is-open="isTimeBeginOpened" datepicker-options="dateOptions"   close-text="关闭" current-text="今天" clear-text="清除" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="isTimeBeginOpened=!isTimeBeginOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <label class="col-sm-2 control-label">截止日期：</label>
                        <div class="col-sm-2">
                            <p class="input-group">
                                <input type="text" ng-model="publish.timeEnd" placeholder="请选择活动截止日期" class="form-control" uib-datepicker-popup="yyyy-MM-dd"  is-open="isTimeEndOpened" datepicker-options="dateOptions"   close-text="关闭" current-text="今天" clear-text="清除" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="isTimeEndOpened=!isTimeEndOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>


                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">星级：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="publish.starNum" placeholder="" required verify-number="" ng-maxlength="10">
                        </div>
                        <label class="col-sm-2 control-label">门票总数：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="publish.ticketTotal" placeholder="" required verify-number="" ng-maxlength="10">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">指导价：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="publish.priceInit" placeholder="" required verify-number="" ng-maxlength="10">
                        </div>
                        <label class="col-sm-2 control-label">本次活动实际价格：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="publish.priceNow" placeholder="" required verify-number="" ng-maxlength="10">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">图文消息标题：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="article.title" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">图文消息图片地址：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="article.picUrl" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">海报图片地址：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="publish.posterUrl" placeholder="" required>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">助力人数：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  ng-model="publish.subUserNum" placeholder="" required verify-number="" ng-maxlength="10">
                        </div>
                    </div>

                </fieldset>



                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">活动规则</legend>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-12">
                            <form>
                                <textarea style="height:300px" ng-mode="publish.publishRule" name="publishRule" id="publishRule" rows="20" cols="80">
                                    请在此处编辑活动规则网页内容...
                                </textarea>
                                <script>
                                    CKEDITOR.replace( 'publishRule' );
                                </script>
                            </form>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">景区介绍</legend>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-12">
                            <form>
                                <textarea style="height:300px" ng-mode="publish.scenicDesc" name="scenicDesc" id="scenicDesc" rows="10" cols="80">
                                    请在此处编辑景区介绍网页内容...
                                </textarea>
                                 <script>
                                    CKEDITOR.replace( 'scenicDesc' );
                                </script>
                            </form>
                        </div>
                    </div>
                </fieldset>

            </ng-form>
            <div class="form-group form-group-sm">
                <div class="col-sm-12 text-center">
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-default btn-sm m-b-sm m-r-xs" ng-click="savePublish()"  click-and-disable><i class="fa fa-save" aria-hidden="true"></i>保存</button>
                </div>
            </div>
        </div>


    </div>
</div>


</div>
