<!--活动展示页-->
<div  ng-init="initPublishShow()">
    <div class="container" style="border:1px solid red" ng-if="isPreview==true">
        <div class="row" align="right" style="border:1px solid red">
            <button class="btn btn-sm btn-default" type="button" ng-click="back()"><i class="fa fa-plus m-r-sm"></i>返回</button>
        </div>
        <br/>
    </div>


    <div class="container" style="background-color:#808080; color:#ffffff">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-8">
                <!--<h4>【爱在曼谷园】水陆联欢，日夜通玩，快带心爱的TA来免费畅玩吧！</h4>-->
                <h3>{{ publish.title}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-8 text-left">
                <h5 style="color:#FF8C07">
                    <i ng-repeat="item in starArray" class="fa {{item.starType}}"></i>
                </h5>
            </div>
            <!--<div class="col-xs-6 col-md-6 col-lg-8 text-right">
                <span class="label label-success">2000人关注</span>
            </div>-->
        </div>
    </div>
    <br />

    <!--价格-->
    <div class="container">
        <div class="row text-left">
            <div class="col-xs-2 col-md-6 col-lg-8">
                <i class="fa fa-yen m-r-sm"></i>0
            </div>
            <div class="col-xs-6 col-md-6 col-lg-8">
                <del>参考价格：{{publish.priceInit}}</del>
            </div>
            <div class="col-xs-4 col-md-6 col-lg-8">
                剩余：{{publish.ticketRemain}}张
            </div>
        </div>
    </div>
    <br />

    <!--活动规则-->
    <div class="container">
        <div class="row text-left">
            <div class="col-xs-12 col-md-6 col-lg-8" id="publishRule">
            </div>
        </div>
    </div>
    <!--景区介绍-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h3>
                        <blockquote><strong>景区介绍</strong></blockquote>
                    </h3>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8" id="scenicDesc">
            </div>
        </div>
    </div>

    <!--我的助力好友-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h3>
                        <blockquote><strong>我的助力好友</strong></blockquote>
                    </h3>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <div class="row" ng-repeat="item in subUserList">
                    <label class="col-xs-6 text-right">{{item.nickName}}</label>
                    <label class="col-xs-6 text-left">{{item.mobile}}</label>
                </div>
            </div>
        </div>
    </div>



    <!--已免费领取-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h3>
                        <blockquote><strong>已免费领取</strong></blockquote>
                    </h3>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <div class="row" ng-repeat="item in fetchUserList">
                    <label class="col-xs-6 text-right">{{item.nickName}}</label>
                    <label class="col-xs-6 text-left">{{item.mobile}}</label>
                </div>
            </div>
        </div>
    </div>

    <!--底部导航栏-->
  <!-- <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color:#FF8C07;">
        <div class="container-fluid">
            <div class="navbar-header text-center" style="color:#ffffff">
                <a class="navbar-brand" href="#" ng-click="publicShare()">分享给好友</a>
            </div>
        </div>
    </nav>-->

    <div style=" height: 50px;width: 100%;"></div>
    <div class="text-center publishshow_footer" ng-click="publishShare()">
        <a class="navbar-brand" style="color:#ffffff" href="javascript:0">{{btnName}}</a>
    </div>


</div>

