<div  ng-init="initPublishShow()">
    <div class="container" style="background-color:#808080; color:#ffffff">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-8">
                <h4>【爱在曼谷园】水陆联欢，日夜通玩，快带心爱的TA来免费畅玩吧！</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-8 text-left">
                <h5 style="color:#FF8C07">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                </h5>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-8 text-right">
                <span class="label label-success">2000人关注</span>
            </div>
        </div>
    </div>
    <br />

    <!--价格-->
    <div class="container">
        <div class="row text-left">
            <div class="col-xs-2 col-md-6 col-lg-8">
                <i class="fa fa-yen m-r-sm"></i>0
            </div>
            <div class="col-xs-6 col-md-6 col-lg-8">
                <del>参考价格：999.99</del>
            </div>
            <div class="col-xs-4 col-md-6 col-lg-8">
                剩余：999张
            </div>
        </div>
    </div>
    <br />

    <!--活动规则-->
    <div class="container">
        <div class="row text-left">
            <div class="col-xs-12 col-md-6 col-lg-8">
                <p><span style="font-size:16px"><span style="color:#e67e22"><strong>好友助力名单规则</strong></span></span></p>
                <p>1.活动时间：2018.8.16&mdash;2018.8.19 18:00截止&nbsp;<br />
                    使用时间：8.16-9.30&nbsp;<br />
                    入园时间：9:00-22:30&nbsp;<br />
                    2. 活动流程：点击，参与免单&rarr;填写信息&rarr;点击分享&rarr;邀请好友助力&rarr;已完成任务，点击领取领！&nbsp;<br />
                    3.领取后必需添加客服小渝微信：DreamerGoing 出票！&nbsp;<br />
                    4.好友助力规则：&nbsp;<br />
                    ①邀请好友参与助力 ，达到16人，即可免费领取价值135元的曼谷园水陆同欢票一张（含欢乐套票24选4，曼谷园戏水游乐票一张）！&nbsp;<br />
                    ②活动名额100个，先到先得，送完即止；过期视为自动放弃；&nbsp;<br />
                    ③所有用户均可发起助力免单&nbsp;<br />
                    ④若发现用户存在刷单、虚假用户助力等违规行为，平台有权判定该活动订单失效；&nbsp;<br />
                    ⑤收到【订购成功短信】后，凭短信验证入园；&nbsp;<br />
                    ⑥景区地址：重庆九龙坡区奥体中心1号西门南侧&nbsp;<br />
                    ⑦活动主办方可在法律规定允许范围内对本次活动规则进行解释并作出适当修改。</p>
            </div>
        </div>
    </div>
    <!--景区介绍-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h4>
                        <blockquote><strong>景区介绍</strong></blockquote>
                    </h4>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <p style="text-align:center">这是景点1</p>

                <p style="text-align:center"><img alt="" src="http://pcms-client.oss-cn-hangzhou.aliyuncs.com/img/b20.jpg" style="height:256px; width:256px" /></p>

                <p style="text-align:center">1.活动时间：2018.8.16&mdash;2018.8.19 18:00截止&nbsp;<br />
                    使用时间：8.16-9.30&nbsp;<br />
                    入园时间：9:00-22:30&nbsp;<br />
                    2. 活动流程：点击，参与免单&rarr;填写信息&rarr;点击分享&rarr;邀请好友助力&rarr;已完成任务，点击领取领！&nbsp;<br />
                    3.领取后必需添加客服小渝微信：DreamerGoing 出票！&nbsp;<br />
                    4.好友助力规则：&nbsp;<br />
                    ①邀请好友参与助力 ，达到16人，即可免费领取价值135元的曼谷园水陆同欢票一张（含欢乐套票24选4，曼谷园戏水游乐票一张）！&nbsp;<br />
                    ②活动名额100个，先到先得，送完即止；过期视为自动放弃；&nbsp;<br />
                    ③所有用户均可发起助力免单&nbsp;<br />
                    ④若发现用户存在刷单、虚假用户助力等违规行为，平台有权判定该活动订单失效；&nbsp;<br />
                    ⑤收到【订购成功短信】后，凭短信验证入园；&nbsp;<br />
                    ⑥景区地址：重庆九龙坡区奥体中心1号西门南侧&nbsp;<br />
                    ⑦活动主办方可在法律规定允许范围内对本次活动规则进行解释并作出适当修改。</p>
            </div>
        </div>
    </div>

    <!--我的助力好友-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h4>
                        <blockquote><strong>我的助力好友</strong></blockquote>
                    </h4>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <table class="data-table table table-bordered" cg-busy="{promise:loading,message:'正在查询，请稍后...'}">
                    <thead >
                    <tr>
                        <th  style="width: 15%">ID</th>
                        <th>标题</th>
                        <th>总票数</th>
                        <th>已售票数</th>
                        <th>剩余票数</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                    <tbody>
                    </thead>
                    <tr ng-repeat="item in publishList">
                        <td  style="width: 15%">{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.ticketTotal}}</td>
                        <td>{{item.ticketSale}}</td>
                        <td>{{item.ticketRemain}}</td>
                        <td>{{item.timeBegin}}</td>
                        <td>{{item.timeEnd}}</td>
                        <td>
                            <!--<button ng-if="item.isShowDetail" class="btn btn-xs btn-default" type="button" ng-click="applyDetail(item)"><i class="fa fa-edit m-r-sm"></i>详细</button>-->
                            <button ng-if="true" class="btn btn-xs btn-default" type="button" ng-click="publishDetail(item)"><i class="fa fa-edit m-r-sm"></i>详细</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--分页开始-->
                <div class="has-divider has-divider--dark"></div>
                <div class="toolbar">
                    <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        当前无助力好友
                    </span>
                    </div>
                    <span class="toolbar__label fs-title">

                </span>

                    <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                        <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                        </div>
                        <div>
                            <ul uib-pagination total-items="paginationInfo.totalItem" ng-model="paginationInfo.curPage" max-size="paginationInfo.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"
                                ng-change="queryList()"></ul>
                        </div>
                    </div>
                </div>
                <!--分页结束-->
            </div>
        </div>
    </div>



    <!--已免费领取-->
    <div class="container">
        <div class="row text-left">
            <div class="form-group form-group-sm">
                <label class="col-xs-12 control-label text-left">
                    <h4>
                        <blockquote><strong>已免费领取</strong></blockquote>
                    </h4>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <table class="data-table table table-bordered" cg-busy="{promise:loading,message:'正在查询，请稍后...'}">
                    <thead >
                    <tr>
                        <th  style="width: 15%">ID</th>
                        <th>标题</th>
                        <th>总票数</th>
                        <th>已售票数</th>
                        <th>剩余票数</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                    <tbody>
                    </thead>
                    <tr ng-repeat="item in publishList">
                        <td  style="width: 15%">{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.ticketTotal}}</td>
                        <td>{{item.ticketSale}}</td>
                        <td>{{item.ticketRemain}}</td>
                        <td>{{item.timeBegin}}</td>
                        <td>{{item.timeEnd}}</td>
                        <td>
                            <!--<button ng-if="item.isShowDetail" class="btn btn-xs btn-default" type="button" ng-click="applyDetail(item)"><i class="fa fa-edit m-r-sm"></i>详细</button>-->
                            <button ng-if="true" class="btn btn-xs btn-default" type="button" ng-click="publishDetail(item)"><i class="fa fa-edit m-r-sm"></i>详细</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--分页开始-->
                <div class="has-divider has-divider--dark"></div>
                <div class="toolbar">
                    <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        当前无已领取顾客
                    </span>
                    </div>
                    <span class="toolbar__label fs-title">

                </span>

                    <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                        <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                        </div>
                        <div>
                            <ul uib-pagination total-items="paginationInfo.totalItem" ng-model="paginationInfo.curPage" max-size="paginationInfo.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"
                                ng-change="queryList()"></ul>
                        </div>
                    </div>
                </div>
                <!--分页结束-->
            </div>
        </div>
    </div>

    <!--底部导航栏-->
  <!-- <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color:#FF8C07;">
        <div class="container-fluid">
            <div class="navbar-header text-center" style="color:#ffffff">
                <a class="navbar-brand" href="#" ng-click="publicShare()">分享给好友</a>
            </div>
        </div>
    </nav>-->

    <div style=" height: 50px;width: 100%;"></div>
    <div class="text-center publishshow_footer" ng-click="publicShare()">
        <a class="navbar-brand" style="color:#ffffff" href="#" ng-click="publicShare()">分享给好友</a>
    </div>


</div>

