<div ng-controller="ProcessController">
    待办任务(已签收)查询
    <form>
        <input type="button" value="待办任务查询" ng-click="queryCurrTodoTaskProcess()"/>
    </form>

    <div>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <td>流程实例id</td><td>流程定义id</td><td>操作</td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in records">
                <td>{{ item.id }}</td>
                <td>{{ item.procDefId }}</td>
                <td>
                    <a ng-click="queryProcessDetail(item.id,item.procDefId)">流程明细</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ui-view = 'currTaskView'></div>
</div>