<div ng-controller="ProcessController">
    流程明细
    <input type="button" value="返回" ng-click="goBack()"/>
    <input type="button" value="查看流程图" ng-click="readDgrmResource()"/>
    <input type="button" value="bpnm" ng-click="readResource()"/>
    <input type="button" value="签收" ng-click="claim()"/>
    <input type="button" value="委派" ng-click="delegate()"/>
    <input type="button" value="通过" ng-click="agree()"/>
    <input type="button" value="拒绝" ng-click="reject()"/>
    <div>
        <div ui-view="dgmnView"></div>
    </div>
</div>